*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    background-color: orange;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    
    
}
ul li ul{
    background: black;
    color: white;
   
}
ul li ul a:hover{
    border-bottom: 2px solid blue 0.1s ;
}
h1{
    color: white;
    margin-top: 9px;
    margin-left: 15px;
    height: 50px;
}
ul li{
    display: inline-block;
    padding: 10px 5px;
    margin-right: 25px;
    margin-top: 6px;
}
a{
    color: white;
    font-weight: bolder;
    font-family: ;
}
.henry{
    display:none
}
a:hover{
    border-bottom: 2px solid blue;
    transition: all ease-in-out 0.5s;
}
header ul li ul{
    position: absolute;
    display: none;
    background-color: orange;
    border-radius:0px 0px 5px 5px  ;
    margin-top: 10px;
}
 ul li:hover ul{
    display: block;
 }
header ul li ul li{
    line-height: 2;
    width: 100%;
    border-radius: 5px;
    padding: px;
}
header ul li ul li a{
    padding: 10px 16px;
}
header ul li ul li a:hover{
    background-;
    opacity: ;
}
.lol{
    padding: 0px 15px 0px 15px;
}
.gege{
    display: none;
    color: black;
    font-size: larger;
}
@media (max-width:1000px) {
    header{
        position: absolute;
        width: 100%;
    }
    ul li ul{
        display: block;
        width: 80%;
    }
    ul li:hover ul{
        display: block;
     }
    ul{
        position: fixed;
         top: 58px;
         right: -100%;
         background: orange;
         height: 700px;
         flex-direction: column;
         align-items: center;
         transition: right 1.5s linear;
         width: 100%;
         display: flex;
         line-height: 2;
    }
    header .gege{
        display: block;
        width: 70px;
        text-align: center;
        margin-top: 20px;
    }
    header .gege:hover{
        color: blue;
        transition: all ease-in-out 0.3s;
    }
    #heyy:checked ~ ul{
        right: 0;
    }
}
